#train {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  background-color: #efefef;
  text-align: center;

  &.loading *,
  &.loading:hover {
    cursor: progress;
  }

  header {
    padding: 1rem 0;
    font-size: 30px;
    font-weight: bold;
    background-color: #14879a;
    color: #fff;
  }

  .train-tools {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-content: center;

    .tool-name {
      margin: 0 .5rem;
      padding: 0 .25rem;
      width: 100px;
      border: none;
      border-radius: .25rem;
      font-size: 16px;
      outline: none;
    }

    label {
      line-height: 34px;
      font-size: 16px;
      font-weight: bold;
      color: #14879a;
    }

    .tool-file {
      margin-top: .5rem;
      width: 200px;
      font-size: 16px;
      color: #f00;
      outline: none;
    }

    .tool-start {
      width: 120px;
      height: 35px;
      background-color: #14879a;
      border-radius: .25rem;
      border: 0;
      color: #fff;
      font-size: 16px;

      &:hover {
        background-color: lighten(#14879a, 5);
      }

      &:active {
        background-color: lighten(#14879a, 10);
      }
    }
  }

  .train-images .image {
    width: 200px;
  }

  /* overwrite css */
  .progressbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;

    .progressbar-progress {
      background-color: #14879a !important;
    }
  }
}

